/**
 * Custom cross-browser styles for keyboard :focus overrides defaults.
 */
 *:focus { 
    outline: 0 !important;
    box-shadow:
      0 0 0 .2rem #fff,
      0 0 0 .35rem #069 !important;
  }
  
  /**
   * Remove focus styles for non-keyboard :focus.
   */
  *:focus:not(.focus-visible) {
    outline: 0 !important;
    box-shadow: none !important;
  }

  .container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
  }

  .bar {fill: steelblue;}
    
  body
  {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cce6ff
  }

  .navbar
  {
    overflow: hidden;
    background-color: #333;
  }

  .navbar a
  {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .topnav-right
  {
    float: right;
  }

  .dropdown
  {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn
  {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navbar a:hover, .dropdown:hover .dropbtn
  {
    background-color: red;
  }

  .dropdown-content
  {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a
  {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover
  {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content
  {
    display: block;
  }

  .d3-tip{
    background: rgba(42, 42, 42, .8);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #fff;
    border-radius: 2px;
    padding: 12px;
    text-align: center;
  }